*
!admin-ui/src
!admin-ui/public
!admin-ui/env.config.js
!admin-ui/package.json
!admin-ui/package-lock.json
!admin-ui/nginx.conf
!admin-ui/vue.config.js
!api
!config
!controllers
!hack
!go.mod
!go.sum
!main.go
!Makefile
!PROJECT
